<!DOCTYPE html>
<head>
  <title>Gilded Gals Script Generator</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='gg.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Gilded Gals</h3>
  <img src="{{ url_for('static', filename='gg.png') }}" />
  <h3>Script Generator</h3>
  <form action="/" method="post">
    Enter an episode premise in the text field below.
    <textarea name="prompt" rows=20 cols=60></textarea>
    <input type="submit" value="Generate Script" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
